# Dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo

# Built artifacts
dist/

# Code editors
.vscode/
.nova/
.idea/

# Docs
docs.json

# Testing scripts
test.js

# Documentation files
docs/

# Tests
tests/

.DS_Store
